
/* COLORS */
:root{
    --SatinDeepBlack:#1D1D1F;
    --AntiqueTin: #6E6E73;

    --White: #FFFFFF;
    --Solitude: #F5F5F7;

    --BrilliantAzure: #2997FF;

    --Navy: #424874;
    --SmoothNavy: #6971ad;

    --LightGray: #DCD6F7;
    --GrayBlue: #A6B1E1;
    --SmoothBlue: #b6c0ec;

    --YellowTulip: #F2D16D;
    --Goldfinger: #F2BB13;
}