
/* SEC-FORM-CONTAINER */
#sec-form-ctn{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5px;

    form{
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 270px;

        gap: 10px;

        h4{
            width: 100%;

            color: var(--Navy);
        }
    }
}

/* INPUT-SEARCH-CITY */
#inp-name-city{
    width: 100%;
    height: 45px;

    padding: 0.85rem;
    
    outline: none;

    border: 2px solid var(--SmoothNavy);
    border-radius: 5px;

    background-color: var(--Solitude);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;

    color: var(--Navy);

    font-size: 1rem;

    &::placeholder{
        color: var(--Navy);
        opacity: 0.7;
    }

    &:focus{
        border: 2px solid var(--Navy);
    }
}

/* BUTTON-FORM-SEARCH */
#btn-form-search{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    border: none;
    border-radius: 5px;

    background-color: var(--Navy);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;
}

/* BUTTON-FORM-SEARCH (WHEN DISABLED) */
#btn-form-search:disabled{
    background-color: var(--SmoothNavy);
    opacity: 0.8;
}

@keyframes spinIcon {
    from{
        transform: rotate(0deg);    
    }
    to{
        transform: rotate(360deg);
    }
}
